@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
  transition: 0.3s;
}

tr:hover {
  background-color: rgb(227, 227, 227);
}

th {
  background-color: #ffffff;
  border-bottom: 2px solid #898989;
  color: whitesmoke;
}

.background-login {
  background: #eb0505;
  background: linear-gradient(
    90deg,
    rgba(235, 5, 5, 0.5) 0%,
    rgba(245, 245, 245, 1) 40%,
    rgba(245, 245, 245, 1) 60%,
    rgba(31, 210, 70, 0.5) 100%
  );
}
