@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Poppins", sans-serif;
}

tr:nth-child(odd) {
  background-color: whitesmoke;
  transition: 0.3s;
}

tr:hover {
  background-color: rgb(227, 227, 227);
}

th {
  background-color: #ffffff;
  border-bottom: 2px solid #898989;
}

.background-login {
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(234, 11, 11, 0.5) 100%
  );
}
